h1{
    background-color: rgb(192, 255, 253);
    }
    body{
      background-color: bisque;
    }
   
   #color{
    background-color: #ff3390;
   }
   .container{
    background-color: rgba(95, 11, 11, 0);
   }
   *{
    margin: 0;
    padding: auto;
   }

